.main {
  display: flex;
  width: 100%;
  padding: 24px;
  min-height: 100vh;
}

.content {
  width: 100%;
  margin-left: 0px;
  min-height: 100vh;
}

.dark main {
  background-color: #17181f;
}

.light main {
  background-color: white;
}

.dark p,
.dark h1,
.dark h3 {
  color: white;
}

.light p,
.light h1,
.light h3 {
  color: #17181f;
}

@media (max-width: 1024px) {
  .content {
    margin-left: -200px;
  }
}
