.facts {
  padding-top: 20px;
  width: 70%;
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  position: relative;
  padding: 20px;

  border-top: 1px solid rgba(125, 124, 124, 0.1);
}

.listItem::before {
  position: absolute;
  top: 21px;
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 50%;
  background-color: rgba(125, 124, 124, 0.4);
}

@media (max-width: 768px) {
  .facts {
    width: 100%;
  }
}
