.buttonUp {
  width: 64px;
  height: 64px;
  background-color: rgba(125, 124, 124, 0.4);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
}

.buttonUp:hover {
  opacity: 0.8;
}

@media (max-width: 855px) {
  .buttonUp {
    width: 48px;
    height: 48px;
  }
}
