.card {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 150%;
  background-color: #f2f4f5;
}

.image:hover {
  opacity: 0.9;
  scale: 1.05;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  padding: 10px;
}

.title {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.ratings {
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 2;
}
