.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  gap: 24px;
  box-sizing: border-box;
}

.item {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 200px;
  padding-top: 150%;

  background: linear-gradient(-90deg, #504e4e 0%, #7b7979 50%, #504e4e 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}

.dark {
  background-color: #17181f;
}

.light {
  background-color: white;
}
