.main {
  width: 100%;
  padding: 24px;
  min-height: 100vh;
}

.dark main {
  background-color: #17181f;
}

.light main {
  background-color: white;
}

.dark p,
.dark h1,
.dark h3 {
  color: white;
}

.light p,
.light h1,
.light h3 {
  color: #17181f;
}

.title {
  padding-bottom: 20px;
}

.link {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
  align-items: center;
}

.image {
  max-width: 64px;
  min-width: 64px;
  max-height: 64px;
  min-height: 64px;
}

.image img {
  width: 100%;
}
