.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  gap: 24px;
  box-sizing: border-box;
}

.scrollbar {
  display: flex;
  width: 100%;
  gap: 24px;
  box-sizing: border-box;
  overflow-x: auto;
  scrollbar-width: none;
}
