.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  gap: 32px;
  z-index: 100;
}

.dark {
  background-color: #17181f;
}

.light {
  background-color: white;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.logo {
  width: 64px;
  height: 64px;
  background-image: url(/public/film.png);
}

.title {
  font-size: 32px;
}

.theme {
  width: 32px;
  height: 32px;
}

@media (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left {
    order: -2;
  }
  .theme {
    order: -1;
    justify-self: end;
  }
}
