.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  background-color: wheat;
  gap: 32px;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo {
  width: 64px;
  height: 64px;
  background-image: url(/public/film.png);
}

.title {
  font-size: 32px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: self-start;
    gap: 12px;
  }
}
