.main {
  display: flex;
  gap: 30px;
  width: 100%;
  padding: 24px;
  min-height: 100vh;
}

.dark main {
  background-color: #17181f;
}

.light main {
  background-color: white;
}

.dark p,
.dark h1,
.dark h3 {
  color: white;
}
.dark svg {
  fill: aqua;
  stroke: blue;
}

.light p,
.light h1,
.light h3 {
  color: #17181f;
}

.light svg {
  fill: red;
  stroke: blue;
}

.image {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #f2f4f5;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 36px;
}
