.main {
  padding: 24px;
}

.top {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr 200px;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 500),minmax(300px, 500), 1fr); */
  gap: 50px;
  width: 100%;
}

.dark main {
  background-color: #17181f;
}

.light main {
  background-color: white;
}

.dark p,
.dark a,
.dark span,
.dark h1,
.dark li,
.dark h2,
.dark h3 {
  color: white;
}

.light p,
.light a,
.light span,
.light h1,
.light li,
.light h2,
.light h3 {
  color: #17181f;
}

.image {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 150%;
  background-color: inherit;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.title {
  padding-top: 40px;
  font-size: 36px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.4;
}

.desc {
  font-size: 16px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.button {
  background-color: #ff5c00;
  padding: 10px 30px;
  margin-bottom: 30px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  transition: all 0.3s ease-out;
}

.button:hover {
  background-color: #ff1d00;
  scale: 1.1;
  color: #fff;
}

a {
  cursor: pointer;
}

a:hover {
  color: #ff5c00;
}

@media (max-width: 1024px) {
  .top {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .top {
    grid-template-columns: 1fr;
  }
}
