.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212830ac;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  padding: 10px;
  border-radius: 5px;
  max-width: 600px;
  width: 90%;
  position: relative;
}
