.actors {
  display: flex;
  flex-direction: column;
}

.actorsTitle {
  font-weight: 700;
  padding-bottom: 10px;
}

.actorInner {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.actorPhoto {
  display: none;
  max-width: 64px;
  max-height: 96px;
  min-width: 64px;
  min-height: 96px;
}

.actorPhotoImg {
  width: 100%;
  height: 100%;
}

.actor {
  padding-bottom: 10px;
}

@media (max-width: 855px) {
  .actorPhoto {
    display: block;
  }
}
